<div class="text-center">
    <div class="alert alert-warning" role="alert" *ngIf="err">
        <p>{{mensaje}}</p>
    </div>
</div>
<div class="text-center">
    <h2>Nuevo Producto</h2>
</div>
<form (ngSubmit)="addProducto()" #forma="ngForm">
    <div class="mb-3">
        <label for="codigoBarras" class="form-label">Codigo Barras</label>
        <input name="codigoBarras" #codigoBarras="ngModel" [(ngModel)]="producto.codigoBarras" type="text" class="form-control" id="codigoBarras" 
        placeholder="Ingresar codigo de barras"
        required >
 
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripci&oacute;n</label>
        <input name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion" type="text" class="form-control" id="descripcion" 
        placeholder="Ingresar descripci&oacute;n"
        required >
    </div>
    <div class="mb-3">
        <label for="categoria" class="form-label">Categor&iacute;a</label>
        <input name="categoria" #categoria="ngModel" [(ngModel)]="producto.categoria" type="text" class="form-control" id="categoria" 
        placeholder="Ingresar categoria"
        required >
    </div>
    <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input name="cantidad" #cantidad="ngModel" [(ngModel)]="producto.cantidad" type="text" class="form-control" id="cantidad" 
        placeholder="Ingresar cantidad"
        required >
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input name="precio" #precio="ngModel" [(ngModel)]="producto.precio" type="text" class="form-control" id="precio" 
        placeholder="Ingresar precio"
        required >
    </div>
    <div class="text-center">
        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>